<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/aadhar.css')}}" />
  </head>
  <body>
    <div class="signin-container">
      <div class="form-card">

        <form class="signin-form" action="#">
          <h2>Verify Your Details</h2>
          <input type="text" id="aadhar" placeholder="Enter Aadhar Number" required />
          <div class="otp-container">
            <div class="otp-inputs">
              <input type="text" maxlength="1" class="otp-box" />
              <input type="text" maxlength="1" class="otp-box" />
              <input type="text" maxlength="1" class="otp-box" />
              <input type="text" maxlength="1" class="otp-box" />
              <input type="text" maxlength="1" class="otp-box" />
              <input type="text" maxlength="1" class="otp-box" />
              <p>Did not recieve OTP? Resend </p>
            </div>
          </div>
          <input type="text" id="pan" placeholder="Enter PAN Number" required />
          <button type="submit" class="signin-btn">Verify</button>
        </form>

      </div>
      <div class="illustration-card"></div>
    </div>
  </body>
</html>
