{% extends 'base.html' %}
{% block title %}
Portfolio
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/portfolio.css')}}" />
<style>
   .card-body {
    border: 2px solid #636363;
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2);
    transition: transform 0.2s;
    width: fit-content;
    flex: none;
        }
</style>
{% endblock %}
{% block js %}
<script src="{{url_for('static', filename='scripts/portfolio.js')}}" defer></script>
{% endblock %}
{% block body %}
<div class="main-content">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
  {% endif %}
  {% endwith %}
  <div>
    {% if portfolios %}
    <ul style="display: flex; flex-direction: row; gap: 30px;">
      {% for message in portfolios %}
      <div class="card-body">
        <h5 class="card-title">User Profile</h5>
        <span class="card-text">
            Name: {{ message.profile_name }} <br>
            DOB: {{ message.dob }} <br>
            Income: {{ message.income }} <br>
            Risk Score: {{ message.risk_score }} <br>
            <a href="/analyse?name={{ message.profile_name }}&risk_score={{ message.risk_score }}" class="btn btn-primary">Login</a>
        </span>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <span>No Portfolio Profiles have been added</span>
    {% endif %}
  </div>
    <div class="plus-button-container">
      <a href="\details" class="plus-button">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
{% endblock %}