<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investment Horizon</title>
    <link rel="stylesheet" href="investment.css" />
  </head>
  <body>
    <div class="main-content">
      <div class="progress-bar-container1">
        <div class="progress-text">
          <div>Basic Details</div>
          <div>Risk Assessment</div>
          <div>Investment Horizon</div>
          <div>Stocks</div>
        </div>
        <div class="progress-bars">
          <div class="progress-line active"><div class="progress1"></div></div>
          <div class="progress-line active"><div class="progress1"></div></div>
          <div class="progress-line active"><div class="progress1"></div></div>
          <div class="progress-line inactive">
            <div class="progress1"></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div id="counter" class="counter"></div>
        <div class="progress-bar-container">
          <div id="progress" class="progress"></div>
        </div>
        <div id="question-container">
          <div id="question" class="question"></div>
          <div id="options" class="options"></div>
        </div>

        <div class="button-container1">
          <button id="prev-btn1" style="display: none">Prev</button>
          <button id="next-btn1">Next</button>
            <div>
          <a id="finish-btn" href="stocks.html">Finish</a>
            </div>
        </div>
      </div>
    </div>

    <script src="investment.js"></script>
  </body>
</html>
