<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Risk Assessment</title>
    <link rel="stylesheet" href="risk.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-content">
      <div class="progress-bar-container1">
        <div class="progress-text">
          <div>Basic Details</div>
          <div>Risk Assessment</div>
          <div>Investment Horizon</div>
          <div>Stocks</div>
        </div>
        <div class="progress-bars">
          <div class="progress-line active"><div class="progress1"></div></div>
          <div class="progress-line active">
            <div class="progress1"></div>
          </div>
          <div class="progress-line inactive">
            <div class="progress1"></div>
          </div>
          <div class="progress-line inactive">
            <div class="progress1"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="counter" class="counter"></div>
        <div class="progress-bar-container">
          <div id="progress" class="progress"></div>
        </div>
        <div id="question-container" class="question-container">
          <div id="question" class="question"></div>
          <div id="options" class="options"></div>
        </div>
        <div class="button-container1">
          <button id="prev-btn1">Prev</button>
          <button id="next-btn1">Next</button>
        </div>
          <a id="finish-btn" href="investment.html">Finish</a>
        </div>
      </div>
    </div>
    <script src="risk.js"></script>
  </body>
</html>
