/* Global Styles */
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222831;
  color: #333;
}

/* Sign Up Page Styles */
.signin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.form-card {
  width: 40%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.back-icon {
  text-decoration: none;
  font-size: 40px;
  color: #ff6c00;
  margin-bottom: 20px;
}

.signin-form h2 {
  margin-bottom: 20px;
  color: #222831;
}

.signin-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signin-form p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
  align-items: center;
}

.signin-btn,
.google-signin-btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.signin-btn {
  background-color: #ff6c00;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.google-signin-btn {
  background-color: #fff;
  border: 1px solid #ff6c00;
  color: #222831;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.signin-form .login-link {
  font-size: 14px;
  color: #333;
  text-align: center;
}

.signin-form .login-link a {
  color: #ff6c00;
  text-decoration: none;
}

/* Illustration Card */
.illustration-card {
  width: 50%;
  background-color: #ff6c00;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form .or {
  font-size: 14px;
  color: #333;
  text-align: center;
}
