<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="signin.css" />
  </head>
  <body>
    <!-- Sign Up Section -->
    <div class="signin-container">

      <!-- Card on the left -->
      <div class="form-card">
        <a href="home.html" class="back-icon"> &#8592; </a>
        
        <form class="signin-form" action="signin.html" method="post">
          <h2>Hi, Welcome Back</h2>

          <input type="text" id="email" placeholder="Enter Email" required />

          <input
            type="password"
            id="pwd"
            placeholder="Enter Password"
            required
          />

          <button type="submit" class="signin-btn">Sign In</button>

          <p class="or">OR</p>

          <button class="google-signin-btn">Sign In with Google</button>

          <p class="login-link">
            Don't have an account? <a href="signup.html">Sign Up</a>
          </p>
        </form>
      </div>
      <div class="illustration-card"></div>
    </div>
  </body>
</html>
