* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222831;
  color: white;
  margin: 0px !important;
}

.signin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.signin-form input {
  padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #757575;
    border-radius: 5px;
    background: #222831;
    padding-left: 10px;
    font-size: 14px;
    color: white;
}
.form-card {
  width: 35%;
  margin: auto;
  padding: 50px;
  /* background-color: #fff; */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form h2, .otp-container h2 {
  margin-bottom: 5px !important;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
}


.signin-btn {
  padding: 9px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;

align-items: center;
}

.signin-btn {
  background-color: #ff6c00;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
h5{
  font-weight: 300;
  font-size: 1.05rem;
  color: #757575;
  margin-bottom: 25px;
  margin-top: 3px;
}
.illustration-card {
  width: 50%;
  background-color: #ff6c00;
  /* border-top-left-radius: 100px; */
  /* border-bottom-left-radius: 100px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-container {
  text-align: center;
}
.otp-container h2 {
  color: #ffff;
  font-size: 30px;
}
.otp-container p {
  color: #fff;
  display: flex;
}
.otp-container a {
  color: #fff;
  font-weight: bold;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
label{
  font-size: 15px;
  margin-bottom: 5px;
}
.otp-box {
  width: 50px !important;
  height: 55px !important;
  font-size: 20px !important;
  text-align: center;
  margin: 0 5px !important;
  border: 1px solid #75757566;
  border-radius: 5px;
}

.resend-link {
  margin-top: 10px;
  text-align: center;
}

.submit {
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0px;
  background-color: #fff;
  color: #ff6c00;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#resend-otp, #send-otp{
  border: none;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
  background-color: #222831;

}